@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
.nav-container {
  background-color: #2F363B; }

.grid {
  width: 100%;
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px; }
  .grid h1 {
    font-size: 3em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #2F363B;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 100px; }
  .grid h2 {
    font-size: 1.5em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #2F363B;
    text-align: center; }
  .grid .row {
    text-align: center; }
  .grid .r1 {
    padding-top: 60px; }
  .grid .box {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 250px;
    height: auto;
    margin: 10px;
    overflow: hidden;
    display: inline-block; }
    .grid .box img {
      width: 115%;
      height: 115%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .grid .box .info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: #333333;
      background: rgba(0, 0, 0, 0.6);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%); }
      .grid .box .info h1 {
        text-align: center;
        font-size: 2em;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #fafafa;
        position: relative;
        padding-top: 50%;
        padding-bottom: 15px; }
      .grid .box .info p {
        text-align: center;
        font-size: 1em;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #fafafa;
        line-height: 1.5em; }
    .grid .box a.no-touch:hover .img {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    .grid .box a.no-touch:hover .info {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
